
html,body{
    padding: 50px;
    margin: 160px;
  }
  body {
      background: url(images/back.jpg) #050505;
      background-position-x: center;
      background-repeat: no-repeat;
      background-position-y: inherit;
      height: 180px;
  }
  #img_track {
      background-image: url(images/icon.png);
      height: 300px;
      width: 400px;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .container {
      margin-top: 50px;
      background: rgba(0, 0, 0, 0.7);
      color: rgb(104, 68, 68);
      opacity: 1;
      padding: 5px;
      max-width: 1500px;
  }
  .input-group {
      padding: 0 12px;
  }
  #other_titles{
    
    margin: auto;
    width: 60%;
    border: 5px solid #ffffff;
    padding: 10px;
  
    color:#fff;
    max-height: 300px;
    overflow-y: scroll;
    display: block;
  }
  .table{
    color:#fff;
  }
  input#search {
      border-radius: 7px;  
      margin: auto;
      width: 17%;
      border: 2px solid #ffffff;
      padding: 7px;
  }
  
  /*centering the search bar, the div*/
  .div#input-group {
    margin: auto;
    width: 60%;
    border: 5px solid #000000;
    padding: 10px;
    }
  
  
  audio{
    
    width: 70%;
    outline: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  div#title {
      font-size: 30px;
      text-align: right;
      padding: 0px 100px;
      padding-top: 80px;
      color: #fff;
  }
  div#artist {
      font-size: 30px;
      text-align: right;
      padding: 0 100px;
      padding-bottom: 84.5px;
      color: rgb(255, 255, 255);
  }
  
  
    /* 
  .player{
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #046896;
    padding: 1px;
  }
  
  /* 
  #search_btn{
    background: #0a1536;
    color: #fff;
    border-radius: 0;
  
    margin: auto;
    width: 60%;
    border: 5px solid #c00606;
    padding: 10px;
  
  }
  */
  
  #other_titles tr {
      cursor: pointer;
  }
  #other_titles tr:hover {
      background: #100f0f !important;
  }
  
  i.fa.fa-refresh:hover {
      color: #000000;
  }
  
  
  
  .TITLE {
    position: relative;
    
    stroke-width: extra-large * 0.05;
    font-size: extra-large;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;
  }
  
  